@charset "ISO-8859-1";

body {
	background-color: white; 
}

.unit {
	border: 0;
    border-radius: 0; 
    background-color: #f18136; 
    border-left: 5px solid #ef6b14;
}

.cabecalho {  
    background-color: #f18136;
    height: 100%;
    color: white;    
}

.principal {	
	border: 0;
    border-radius: 0;
    padding: 0;
    top: 69px !important;
}

.ui-layout-unit-content.ui-widget-content {
	padding: 0;
	overflow: hidden;
}


.logo {	
	height: 70px;
	margin-left: 2%;
	margin-top: -5px;
}

.buttonProvisorio {
	position: fixed; 
	bottom: 20px; 
	height: 5vw; 
	text-align: center; 
	color: white; 
	right: 20px; 
	line-height: 5vw; 
	width: 5vw;
	border-radius: 100%; 
	background-color: blue; 
	font-size: 3vw; 
}

.ui-widget-content a {
	color: white;
	text-decoration: none;
}

.itemCard {
	width: 30vw;
    height: 50vh;
    background-color: red;
    float: left;
    margin: 1vw;
}

.pageContent {
	overflow: auto;
    max-height: 100vh;
}

.createButton {
	
}
